<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Compra Exitosa</title>
  <link rel="stylesheet" href="/css/styles.css">  <!-- Asegurate de que esta ruta esté bien -->
</head>
<body>
  <header>
    <h1 class="page-title">¡Gracias por tu compra!</h1>
  </header>

   <main class="checkout-form-container success">
        <h1>{{title}}</h1>
        <h2>¡Gracias por tu compra, {{nombre}}!</h2>
        <p>Tu número de pedido es: <strong>#{{numeroPedido}}</strong></p>
        <p>Pronto nos comunicaremos con vos para coordinar el envío.</p>
        <p>Recordá enviarnos el comprobante de pago por WhatsApp para validar tu compra.</p>
        <a href="/products"><button class="primary-btn">Volver al inicio</button></a>
    </main>
</body>
</html>